PSD/__pycache__
PSD/datasets/__pycache__
PSD/models/__pycache__
PSD/losses/__pycache__

PSD/output/
PSD/wandb/
PSD/work_dirs/
PSD/pretrained_model/
PSD/wandb_setup.py
PSD/clahe/

data/

SkyReplacement/Replacement/__pycache__
SkyReplacement/Replacement/SkySelection/__pycache__
SkyReplacement/SkySegmentation/__pycache__
SkyReplacement/SkySegmentation/mmseg_config/__pycache__
SkyReplacement/SkySegmentation/mmseg_config/work_dirs