PSD/__pycache__
PSD/datasets/__pycache__
PSD/models/__pycache__
PSD/output/

SkyReplacement/Replacement/__pycache__/
SkyReplacement/SkySegmentation/__pycache__/
SkyReplacement/SkySegmentation/mmsegmentation/
SkyReplacement/SkySegmentation/mmseg_config/__pycache__/
SkyReplacement/SkySegmentation/mmseg_config/wandb/
SkyReplacement/SkySegmentation/mmseg_config/work_dirs/
SkyReplacement/SkySegmentation/mmseg_config/pretrain/
SkyReplacement/SkySegmentation/mmseg_config/test.ipynb
SkyReplacement/SkySegmentation/checkpoint/epoch_34.pth
SkyReplacement/SkySegmentation/mmseg_config/configs/_base_/upernet_swin_base_patch4_window7_512x512_160k_ade20k_pretrain_224x224_22K_20210526_211650-762e2178.pth
SkyReplacement/Replacement/SkySelection/__pycache__/
SkyReplacement/SkySegmentation/blue_value
SkyReplacement/SkySegmentation/checkpoint

PSD/pretrained_model/PSD-FFANET
PSD/pretrained_model/PSD-GCANET
PSD/pretrained_model/PSD-MSBDN

serving/app/__pycache__
serving/app/db/__pycache__
serving/app/models/__pycache__
serving/app/weights/

data/sample/
data/BeDDE/gt/
data/BeDDE/hazy/
data/BeDDE/mask/
data/Crawling/gt/
data/Crawling/hazy/
data/Hidden/hazy/
data/MRFID/gt/
data/MRFID/hazy/
data/NH_HAZE/gt/
data/NH_HAZE/hazy/
data/O_HAZE/gt/
data/O_HAZE/hazy/
data/RESIDE_RTTS/hazy/
data/RESIDE_SOTS_OUT/gt/
data/RESIDE_SOTS_OUT/hazy/
data/skyseg/
data/sky_images/
data/dehazed_images/
data/sky_replacement/
data/sky_replacement_check/

